name: Deploy More-Stars

on:
  push:
    branches:
      - main  # деплой при пуше в main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Add VPS to known_hosts
        run: ssh-keyscan -H 93.123.84.87 >> ~/.ssh/known_hosts

      - name: Deploy to VPS
        run: |
          ssh deploy@93.123.84.87 "cd /var/www/more-stars/more-stars-frontend && git pull && sudo systemctl restart nginx"
